<div class="container">
    <h1>Sign In</h1>
    
            <label for="name"><b>User Name:</b></label>
            <input type="text" placeholder="Enter UserName" name="UserName" [(ngModel)]="user.UserName">
          
            <label for="psw"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="Password" [(ngModel)]="user.Password">
          
            <div class="form-group">
            <a  (click)="onSubmit()" type="button" class="btn btn-primary">SIGN IN</a>
            </div>

            <label for="user"><b>New User?</b></label>
            
            <div class="form-group">
            <a  (click)="onSubmit()" type="button" class="btn btn-primary">Register</a>
            </div>
          
</div>
