<div class="container">
    <h1>Sign In</h1>
    
            <label for="name"><b>User Name:</b></label>
            <input type="text" placeholder="Enter UserName" name="username" #username="ngModel" required [(ngModel)]="user.UserName">
            <div *ngIf="username.errors?.['required'] && username.touched" class="text-danger">UserName is Required.</div>
          
            <label for="psw"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="password" #password="ngModel" required [(ngModel)]="user.Password">
            <div *ngIf="password.errors?.['required'] && password.touched" class="text-danger">Password is Required.</div>
          
            <div *ngIf="ErrMsg">
                    <h4>Login Failed</h4>
            </div>

            <div class="form-group">
            <a  (click)="onSubmit()" type="button" class="btn btn-primary">SIGN IN</a>
            </div>

            <label for="user"><b>New User?</b></label>
            
            <div class="form-group">
            <a  (click)="onSubmit()" href='register' type="button" class="btn btn-primary">Register</a>
            </div>
          
</div>
