<div class="container">
    <h1>Member Registration</h1>
    
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="username" #username="ngModel" required [(ngModel)]="user.userName">
            <div *ngIf="username.errors?.['required'] && username.touched" class="text-danger">UserName is Required.</div>

            <label for="firstname"><b>FirstName</b></label>
            <input type="text" placeholder="Enter Name" name="firstname" #firstname="ngModel" required [(ngModel)]="user.firstName">
            <div *ngIf="firstname.errors?.['required'] && firstname.touched" class="text-danger">FirstName is Required.</div>

            <label for="Lastname"><b>LastName</b></label>
            <input type="text" placeholder="Enter Name" name="lastname" #lastname="ngModel" required [(ngModel)]="user.lastName">
            <div *ngIf="lastname.errors?.['required'] && lastname.touched" class="text-danger">LastName is Required.</div>

            <div>
            <label for="Address"><b>Address</b></label>
            <input type="text" placeholder="Enter Address" name="address" #address="ngModel" required [(ngModel)]="user.address">
            <div *ngIf="address.errors?.['required'] && address.touched" class="text-danger">Address is Required.</div>
            </div>

            <div>
              <label for="DOB"><b>DOB</b></label>
            <input type="date" placeholder="Enter DOB" name="dob" #dob="ngModel" required [(ngModel)]="user.dob">
            <div *ngIf="dob.errors?.['required'] && dob.touched" class="text-danger">DOB is Required.</div>
         
            <label for="State"><b>State</b></label>
            <select name="states" id="State" [(ngModel)]="user.state">
              <option value="AndhraPradesh">AndhraPradesh</option>
              <option value="Telangana">Telangana</option>
              <option value="ArunachalPradesh">ArunachalPradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
            </select>
          </div>

            <div>
            <label for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" #email="ngModel" required [(ngModel)]="user.email">
            <div *ngIf="email.errors?.['required'] && email.touched" class="text-danger">Email is Required.</div>
            </div>

            <div class="form-group">
            <a  (click)="onSubmit()" href='memberSearch' type="button" id="button2" class="btn btn-warning float-right">Register</a>
            </div>
          
</div>
