<div class="container">
    <h1>Member Search</h1>
    
            <label for="id"><b>Member ID:</b></label>
            <input type="text" placeholder="Enter UserName" name="uesrid" #userid="ngModel" required [(ngModel)]="user.UserName">
            <div *ngIf="userid.errors?.['required'] && userid.touched" class="text-danger">UserId is Required.</div>
          
            <label for="FirstName"><b>FirstName</b></label>
            <input type="text" placeholder="Enter FirstName" name="firstname" #firstname="ngModel" required [(ngModel)]="user.FirstName">
            <div *ngIf="firstname.errors?.['required'] && firstname.touched" class="text-danger">FirstName is Required.</div>

            <label for="LastName"><b>LastName</b></label>
            <input type="text" placeholder="Enter LastName" name="lastname" #lastname="ngModel" required [(ngModel)]="user.FirstName">
            <div *ngIf="lastname.errors?.['required'] && lastname.touched" class="text-danger">LastName is Required.</div>

          
            <div class="form-group">
            <a  (click)="onSubmit()" type="button" class="btn btn-primary">Clear</a>
            </div>
            
            <div class="form-group">
            <a  (click)="onSubmit()" href='register' type="button" class="btn btn-primary">Search</a>
            </div>
          
</div>
