<div class="container">
    <h1>Member Search</h1>
    
            <label for="id"><b>Member ID:</b></label>
            <input type="text" placeholder="Enter UserName" name="uesrid" #userid="ngModel" required [(ngModel)]="user.userId">
            <div *ngIf="userid.errors?.['required'] && userid.touched" class="text-danger">MemberId is Required.</div>
          
            <label for="FirstName"><b>FirstName</b></label>
            <input type="text" placeholder="Enter FirstName" name="firstname" #firstname="ngModel" required [(ngModel)]="user.firstName">
            <div *ngIf="firstname.errors?.['required'] && firstname.touched" class="text-danger">FirstName is Required.</div>

            <label for="LastName"><b>LastName</b></label>
            <input type="text" placeholder="Enter LastName" name="lastname" #lastname="ngModel" required [(ngModel)]="user.lastName">
            <div *ngIf="lastname.errors?.['required'] && lastname.touched" class="text-danger">LastName is Required.</div>

          
            <div class="form-group">
            <a  (click)="onSubmit()" type="button" class="btn btn-primary">Clear</a>
            </div>
            
            <div class="form-group">
            <a  (click)="onSubmit()" type="button" class="btn btn-primary">Search</a>
            </div>
          
            <div class="row">
                <div class="table-responsive" id="divUser">
                    <div class="table-responsive">
                        <table class="table table-striped border" *ngFor="let ss of users">
                            <thead>

                                <tr class="table-secondary">
                                    <th>Member ID</th>
                                    <th>Policy ID</th>
                                    <th>UserName</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Policy Status</th>
                                    <th>Policy Type</th>
                                    <th>Premium Amount</th>
                                    <th>Policy Effective Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let member of ss" >
                                    <td>{{member["memberId"]}}</td>
                                    <td>{{member["policyId"]}}</td>
                                    <td>{{member.userName}}</td>
                                    <td>{{member.firstName}}</td>
                                    <td>{{member.lastName}}</td>
                                    <td>{{member.policyStatus}}</td>
                                    <td>{{member.policyType}}</td>
                                    <td>{{member.premiumAmount}}</td>
                                    <td>{{member.createdDate}}</td>
                                </tr>
                            </tbody>

                            <div class="form-group">
                                <a  (click)="onSubmit()" href='addpolicy' type="button" class="btn btn-primary">Add Policy</a>
                                </div>

                        </table>
                    </div>
                </div>
            </div>
            
</div>
