<div class="container">
    <h1>User Registration</h1>
    
            <label for="name"><b>User Name</b></label>
            <input type="text" placeholder="Enter UserName" name="username" #username="ngModel" required [(ngModel)]="user.UserName">
            <div *ngIf="username.errors?.['required'] && username.touched" class="text-danger">UserName is Required.</div>
              
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" #password="ngModel" required [(ngModel)]="user.Password">
            <div *ngIf="password.errors?.['required'] && password.touched" class="text-danger">Password is Required.</div>
          
            <label for="UserRole"><b>UserRole</b></label>
            <select name="Roles" id="UserRole" [(ngModel)]="user.UserRole">
              <option value="Admin">Admin</option>
              <option value="Member">Member</option>
            </select>
            
            <style>
              #button1{
              width: 300px;
              height: 40px;
              
              }
              #button2{
              width: 300px;
              height: 40px;
              }
              </style>


            <div class="form-group">
            <a  (click)="onSubmit()" type="button" id="button1" class="btn btn-primary">Cancel</a>
            </div>
            
            <div class="form-group">
            <a  (click)="onSubmit()" href='/member' type="button" id="button2" class="btn btn-primary">Register</a>
            </div>
          
</div>
