<div class="container">
    <h1>User Registration</h1>
    
            <label for="name"><b>User Name</b></label>
            <input type="text" placeholder="Enter UserName" name="UserName" [(ngModel)]="user.UserName">
          
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="Password" [(ngModel)]="user.Password">
          
            <label for="UserRole"><b>UserRole</b></label>
            <select name="Roles" id="UserRole" [(ngModel)]="user.UserRole">
              <option value="Admin">Admin</option>
              <option value="Member">Member</option>
            </select>
            
            <style>
              #button1{
              width: 300px;
              height: 40px;
              
              }
              #button2{
              width: 300px;
              height: 40px;
              }
              </style>


            <div class="form-group">
            <a  (click)="onSubmit()" type="button" id="button1" class="btn btn-primary">Cancel</a>
            </div>
            
            <div class="form-group">
            <a  (click)="onSubmit()" type="button" id="button2" class="btn btn-primary">Register</a>
            </div>
          
</div>
